:root {
    --maximum-yellow-red: #FABC3C;
    --brick-red: #DC3545;
    --raisin-black: #231F20;
    --green-munsell: #06A77D;
    --ghost-white: #EDEDF4;
    --pure-white: #FFFFFF;
    --mild-gray: rgba(86,61,124,.1);
}

body {
    font-family: 'Montserrat';
    color: var(--raisin-black);
    background-color: var(--pure-white);
}

hr {
    color: var(--raisin-black);
}
/*-->Navbar custom css*/
.navbar-custom {
    background-color: var(--green-munsell);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--pure-white);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: var(--ghost-white);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: var(--maximum-yellow-red);
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color: var(--pure-white);
}

.navbar-custom .dropdown-item {
    color: var(--raisin-black);
}

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: var(--pure-white);
    background-color: var(--green-munsell);
}
/*Navbar custom css <---*/

button > span {
    pointer-events: none;
}

div.card-post * {
    pointer-events: none;
}

div.card-post > * > button {
    pointer-events: visible;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.025);
}

.liked > span {
    color: var(--brick-red);
}

.btn-like:focus {
    outline: none;
    box-shadow: none;
}

.btn-like {
    transition: all .2s ease-in-out;
}

.btn-like:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.3);
}

.btn-comments:focus {
    outline: none;
    box-shadow: none;
}

.btn-comments {
    transition: all .2s ease-in-out;
}

.btn-comments:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.3);
}

.btn-comment-actions:focus {
    outline: none;
    box-shadow: none;
}

.btn-comment-actions {
    transition: all .2s ease-in-out;
}

.btn-comment-actions:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.3);
}

.selectable {
    cursor: pointer;
}

.modal-header {
    padding: 0.1rem 0.5rem;
}

li.list-group-item {
    border-radius: 0;
    border: 0;
    border-top: 1px solid var(--pure-white);
}

li.list-group-item:hover {
    background-color: var(--mild-gray);
}

textarea {
    background-color: var(--mild-gray);
}

.profile-avatar {
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.post-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.btn-profile-avatar {
    border-radius: 50%;
}

.btn-profile-avatar:focus {
    outline: none;
    box-shadow: none;
}

.invisible {
    display: none;
}