
Community/local_settings.py

Community/secrets.py

Community/__pycache__/

*.sqlite3

market/__pycache__/

market/migrations/

media/images/

community_main/__pycache__/

community_main/migrations/

wall/__pycache__/

wall/migrations/

media/community_main/images/profiles/
