{% extends 'community_main/base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="row mt-5">
        <div class="col-12">
            <h1>Wall</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <form id="new_post_form">
                {% csrf_token %}
                {% for field in form %}
                    {{ field|add_class:"form-control" }}
                {% endfor %}
                <div class="btn-toolbar mt-3 float-right" role="toolbar" aria-label="New Post Actions">
                    <button type="button" class="btn btn-primary btn-sm" id="postItBtn">
                        Post it!
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            {% if posts %}
                <h2>See what Others are talking about</h2>
                <br>
                {% for post in posts %}
                    <div class="card border-0 shadow mb-4 selectable card-post" action="{% url 'view_wall_post' post.id %}">
                        <div class="card-body">
                            <h3>{{ post.created_by }}</h3>
                            <p>{{ post.text }}</p>
                            <button type="button" class="btn btn-like {% if post.id in liked_posts %}liked{% endif %}" action="{% url 'like_wall_post' post.id %}">
                                <span class="oi oi-heart"></span>
                                {{ post.likes }}
                            </button>
                            <button type="button" class="btn btn-comments" action="{% url 'view_wall_post' post.id %}">
                                <span class="oi oi-comment-square"></span>
                                {{ post.comments }}
                            </button>
                            <small class="float-right text-muted">{{ post.whenpublished }}</small>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>The Wall is empty :(</p>
            {% endif %}
        </div>
    </div>

    <div class="modal" id="viewPostModal" tabindex="-1" role="dialog" aria-labelledby="viewPostModal" aria-hidden="true">
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            $(document).on('click', '#postItBtn', function(e) {
                e.preventDefault();
                e.stopPropagation();
                var productForm = document.querySelector('#new_post_form');
                var formData = new FormData(productForm);

                $.ajax({
                    type: 'POST',
                    url: '{% url "new_wall_post" %}',
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success: function (response) {
                        var data = response.data;
                        //alert(data.message);
                        window.location.reload();
                    },
                    error: function (xhr, errmsg, err) {
                        var errors = xhr.responseJSON.data.error;

                        Object.keys(errors).forEach(field => {
                            var fieldElement = $('[name="' + field + '"]');
                            fieldElement.change();
                            fieldElement.addClass('is-invalid');
                            //$(fieldElement.siblings("small")[0]).hide();
                            fieldElement.after("<small class='form-text text-danger'>" + errors[field] + "</small>");
                        });
                    }
                });
            });

            $(document).on('click', 'div.card-post', function(e) {    
                $.ajax({
                    type: 'GET',
                    url: $(e.target).attr('action'),
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    cache: false,
                    processData: false,
                    beforeSend: function() {
                        $('#viewPostModal').modal('show');
                    },
                    success: function(response) {
                        $('#viewPostModal').html(response);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr);
                    }
                });
            });

            $(document).on('click', '.btn-like', function(e) {
                e.preventDefault();
                e.stopPropagation();
                $.ajax({
                    type: 'POST',
                    url: $(e.target).attr('action'),
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    cache: false,
                    processData: false,
                    success: function(response) {
                        $(e.target).toggleClass("liked");
                        $(e.target).html('<span class="oi oi-heart"></span> ' + response.data.likes);
                    },
                    error: function(xhr, errmsg, err) {

                    },
                })
            });

            $(document).on('click', '#postCommentBtn', function(e) {
                e.preventDefault();
                e.stopPropagation();
                var productForm = document.querySelector('#new_comment_form');
                var formData = new FormData(productForm);
                $.ajax({
                    type: 'POST',
                    url: $('#new_comment_form').attr('action'),
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success: function (response) {
                        $('#post_info_toolbar').find('.btn-comments').html('<span class="oi oi-comment-square"></span> ' + response.data.comments_count);
                        get_comments_url = response.data.get_comments;

                        $.ajax({
                            type: 'GET',
                            url: get_comments_url,
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                $('#postCommentsSection').html(response);
                            },
                            error: function(xhr, errmsg, err) {
                                console.log(xhr);
                            }
                        })
                    },
                    error: function (xhr, errmsg, err) {
                        var errors = xhr.responseJSON.data.error;

                        Object.keys(errors).forEach(field => {
                            var fieldElement = $('[name="' + field + '"]');
                            fieldElement.change();
                            fieldElement.addClass('is-invalid');
                            //$(fieldElement.siblings("small")[0]).hide();
                            fieldElement.after("<small class='form-text text-danger'>" + errors[field] + "</small>");
                        });
                    }
                });
            });

            $(document).on('click', '.delete-comment-action', function(e) {
                url = $(e.target).attr('action');

                $.ajax({
                    type: 'POST',
                    url: url,
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $('#post_info_toolbar').find('.btn-comments').html('<span class="oi oi-comment-square"></span> ' + response.data.comments_count);
                        get_comments_url = response.data.get_comments;

                        $.ajax({
                            type: 'GET',
                            url: get_comments_url,
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: function(response) {
                                $('#postCommentsSection').html(response);
                            },
                            error: function(xhr, errmsg, err) {
                                console.log(xhr);
                            }
                        })
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr);
                    }
                })
            });
        });
    </script>
{% endblock %}