{% load widget_tweaks %}

<form class="needs-validation" id="product_form" novalidate>
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <fieldset {% if product.sold %} disabled="disabled" {% endif %}>
                <div class="form-row">
                    <div class="col-md-12">
                        {% if field.field.required %}
                            {% if not field.data %}
                                <span class="required text-danger font-weight-bold">* </span>
                            {% else %}
                                <span class="required font-weight-bold">* </span>
                            {% endif %}
                        {% endif %}
                        {{ field.label_tag }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        {% if field.errors %}
                            {{ field|add_class:"form-control is-invalid" }}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% elif field.help_text %}
                            {{ field|add_class:"form-control" }}
                            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                    </div>
                </div>
            </fieldset>
        </div>
    {% endfor %}
</form>
<div class="form-row mt-5">
    <div class="col-10">
        <button type="button" class="btn btn-primary" id="saveBtn" {% if product.sold %}disabled{% endif %}>Save</button>
        <a href="{% url 'community_profile' %}"><button type="button" class="btn btn-secondary" id="cancelBtn">Cancel</button></a>
    </div>
    <div class="col-2">
        <button type="submit" class="btn btn-danger float-right" id="deleteBtn">Delete</button>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form action="{% url 'delete_post' product.id %}" method="POST">
            {% csrf_token %}
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('input[type="text"]').on('change', function() {
            var label = $("label[for='" + $(this).attr('id') + "']");

            if ($(this).prop('required') && !$(this).val()) {
                label.siblings('span').addClass("text-danger");
            } else {
                label.siblings('span').removeClass("text-danger");
            }
        });

        $('input[type=number]').on('change', function() {
            var label = $("label[for='" + $(this).attr('id') + "']");

            if ($(this).val() <= 0) {
                $(this).val('');
            }

            if ($(this).prop('required') && !$(this).val()) {
                label.siblings('span').addClass("text-danger");
            } else {
                label.siblings('span').removeClass("text-danger");
            }
        });

        $('textarea').on('change', function() {
            var label = $("label[for='" + $(this).attr('id') + "']");

            if ($(this).prop('required') && !$(this).val()) {
                label.siblings('span').addClass("text-danger");
            } else {
                label.siblings('span').removeClass("text-danger");
            }
        });

        $('select').on('change', function() {
            var label = $("label[for='" + $(this).attr('id') + "']");

            if ($(this).prop('required') && !$(this).val()) {
                label.siblings('span').addClass("text-danger");
            } else {
                label.siblings('span').removeClass("text-danger");
            }
        });

        $(document).on('click', '#saveBtn', function(e) {
            e.preventDefault();
            var productForm = document.querySelector('#product_form');
            var formData = new FormData(productForm);

            $.ajax({
                type: 'POST',
                url: '{% url "edit_post" product.id %}',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (response) {
                    var data = response.data;
                    alert(data.message);
                    window.location.href = data.redirect;
                },
                error: function (xhr, errmsg, err) {
                    var errors = xhr.responseJSON.error;

                    Object.keys(errors).forEach(field => {
                        var fieldElement = $('[name="' + field + '"]');
                        fieldElement.change();
                        fieldElement.addClass('is-invalid');
                        $(fieldElement.siblings("small")[0]).hide();
                        fieldElement.after("<small class='form-text text-danger'>" + errors[field] + "</small>");
                    });
                }
            })
        })

    })
</script>