{% extends 'market/base.html' %}
{% block content %}
    <h1>Market</h1>
    <div>
        <form method="GET" action="{% url 'new_post' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success"id="new-post-button" name="new-post-button">New Post</button>
        </form>
    </div>
    <ul>
        {% if products %}
                {% for product in products %}
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="{% url 'view_post' product.id %}">
                                <img class="media-object" src="..." alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ product.title }}</h4>
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <span>There are not products</span>
        {% endif %}
    </ul>
{% endblock %}