{% load widget_tweaks %}

<form class="needs-validation" id="product_form" novalidate>
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-12">
                    {% if field.field.required %}
                        {% if not field.data.strip %}
                            <span class="required text-danger font-weight-bold">* </span>
                        {% else %}
                            <span class="required font-weight-bold">* </span>
                        {% endif %}
                    {% endif %}
                    {{ field.label_tag }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    {% if field.errors %}
                        {{ field|add_class:"form-control is-invalid" }}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% elif field.help_text %}
                        {{ field|add_class:"form-control" }}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</form>
<div class="row">
    <div class="col-md-12">
        <input type="file" multiple/>
        <small class="form-text text-muted">Upload some Images of your Product.</small>
    </div>
</div>
<div class="form-row mt-5">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
        <a href="{% url 'market_home' %}"><button type="button" class="btn btn-secondary" id="cancelBtn">Cancel</button></a>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Once the DOM has loaded, modify the input element of type file with pond.
        FilePond.registerPlugin(FilePondPluginFileValidateSize);
        FilePond.registerPlugin(FilePondPluginFileValidateType);
        FilePond.setOptions({
            allowMultiple: true,
            maxFiles: 4,
            maxFileSize: '3MB'
        });
        var files = [];
        const inputElement = document.querySelector('input[type="file"]');
        const pond = FilePond.create( inputElement, {
            acceptedFileTypes: ['image/png', 'image/jpeg'],
            // onaddfile added as callback function to store images as they are loaded
            onaddfile: (err, fileItem) => {
                if (!err) {
                    files.push(fileItem.file);
                }
                console.log(files);
            },
            onremovefile: (err, fileItem) => {
                const index = files.indexOf(fileItem.file);
                if (index > -1) {
                    files.splice(index, 1);
                }
            }
        } );

        $(document).on('click', '#saveBtn', function(e) {
            var productForm = document.querySelector('#product_form');
            var formData = new FormData(productForm);
            formData.append('length', files.length);
            for (var i = 0; i < files.length; i++) {
                formData.append('image' + i, files[i]);
            }
            console.log(...formData);

            $.ajax({
                type: 'POST',
                url: '{% url "new_post" %}',
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function () {
                    alert("The product has been posted");
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ":" + xhr.responseText)
                }
            })
        })

    })
</script>